@model CharacterResults

<style>

    .two{

        float:left;
        margin:3%;
        border:3px solid gray;
        border-radius:10px;
    }
    body{

        background-color:burlywood;
    }

</style>



<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        @for (int i = 1; i < 10; i++)
        {
            <li class="page-item"><a class="page-link" href="#">@i</a></li>
         

        }
        
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

@foreach(Character item in Model.results)
{
    

    <div class="card two" style="width: 18rem;">
        <img src=@item.Image class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Status</p>
            <a href="#" class="btn btn-outline-warning">Go somewhere</a>
        </div>
    </div>

}



